# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Ignore build directory
build

# Ignore CMakeFiles directory
CMakeFiles

# Ignore temporal files
*~
